{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Images" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="page-inner">
	<div class="page-header">
		<h4 class="page-title">{% trans "Images" %}</h4>
		<ul class="breadcrumbs">
			<li class="nav-home">
				<a href="{% url 'index' %}">
					<i class="flaticon-home"></i>
				</a>
			</li>
			<li class="separator">
				<i class="flaticon-right-arrow"></i>
			</li>
			<li class="nav-item">
				<a href="{% url 'patientImages' patient.id %}">{% trans "Liste des Images" %} pour le patient : {{patient.firstName}} {{patient.lastName}}</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card imgCard">
				<div class="card-header">
					<div class="card-title">{% trans "Liste des Images" %} pour le patient : {{patient.firstName}} {{patient.lastName}}</div>
				</div>
				<div class="card-body row">
					{% for img in images %}
					<div class="card card-post card-round col-md-4">
						<img class="card-img-top zoom" src="{{img.image.url}}" alt="{{img.name}}">
						<button style="position: absolute; right: 5%; margin-top: 10px;"
						 class="btn btn-icon btn-light btn-round btn-xs zoom ">
							<i class="fa fa-search-plus zoom"></i>
						</button>
						<div class="card-body ">
							<h5 class="card-title ">{{img.name}}</h5>
							<p class="date text-muted ">{% trans "Patient" %} : {{img.patient.firstName}} {{img.patient.lastName}}</p>
							{% if img.details %}
								<a href={% url 'preparation' imgId=img.id  %}
								class="btn btn-primary btn-sm ">{% trans "Details" %}</a>
							{% else %}
							<button onclick="generate('{% url 'generate' imgId=img.id  %}')"
								class="btn btn-primary btn-sm ">{% trans "Générer<br/> les détails" %}</button>
							{% endif %}
							<a href={% url 'results' imgId=img.id  %}
							class="btn btn-primary  btn-sm ">{% trans "Resultats" %}</a>
							<a style="float:right;" href={% url 'notesList' imgId=img.id  %} class="btn btn-outline-secondary btn-rounded  btn-sm "><i class="flaticon-pen"></i>{% trans " Notes" %}</a>
							<span style="float:right;" class="badge text-big badge-pill badge-{% if img.result == 1 %}{{'danger'}}{% else %}{{'success'}}{% endif %}">
								{% if img.result == 1 %}{{'Melanome'}}{% else %}{{'Non Melanome'}}{% endif %}
							</span>
							{% comment %} <button class="btn btn-icon btn-primary btn-round btn-xs ">
								<i class="fa fa-plus"></i>
							</button> {% endcomment %}
						</div>
					</div>
				
					{% endfor %}
					<div id="zoomModal" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" style="font-size:20px;font-weight:bolder">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<img class="img-responsive" id="imgModal" style="width:100%" src="">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
	function generate(url){
        swal({
            title: 'Générer les images explicatives ?',
            text: 'La génération des images va prendre du temps!',
            type: 'warning',
            buttons:{
                cancel: {
                    visible: true,
                    text : 'Annuler',
                    className: 'btn btn-success'
                },        			
                confirm: {
                    text : 'Oui',
                    className : 'btn btn-warning'
                }
            }
        }).then((willDelete) => {
            if (willDelete) {
				$('#loader').show()
                window.location = url
            }
        });
    }
    $('.imgCard').on('click',(e)=>{
		if($(e.target).hasClass('zoom')) {
            var src = $(e.target).closest('.imgCard').find('img').attr('src')
            var title = $(e.target).closest('.imgCard').find('.info-post').html()
            $('#zoomModal .modal-title').html(title)
            $('#imgModal').attr('src', src)
            $('#zoomModal').modal('show')
        }
    })
</script>
{% endblock javascripts %}

