{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Images" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">{% trans "Images" %}</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="{% url 'index' %}">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="{% url 'uploadImg' %}">{% trans "Charger une Image" %}</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">{% trans "Charger une Image" %}</div>
					</div>
					<form id="uploadImg" method="POST" action="{% url 'uploadImg' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="card-body">
							<div class="form-group row">
								{% for field in form %}
									{% if field.name in 'patient' %}
										<div class="col-md-2">
											<label for="">{% trans "Ajouter patient" %}</label>
											<a href="{% url 'addPatient' %}" type="button" class="btn btn-icon btn-round btn-success text-light">
												<i class="fa fa-plus" style="margin-top:12px"></i>
											</a>
										</div>
									{% endif %}
									<div class="col-md-3">
										{{ field.label_tag }} {{ field }}
									</div>
								{% endfor %}
								{% comment %} <div class="col-md-3" style="padding-top:15px">
									<input name="compute" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small"
										data-on="{% trans "Faire les Calculs" %}" data-off="{% trans "Juste Charger l'image" %}"/>
								</div> {% endcomment %}
								<div class="col-md-2" style="padding-top:15px">
									<label for="type">{% trans "Type de l'image" %} </label>
									<input name="type" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small"
										data-on="{% trans "PH2" %}" data-off="{% trans "ISIC" %}"/>
								</div>
								<div class="col-md-4" style="padding-top:15px">
									<label for="generate">{% trans "Générer les images explicatives ?" %}</label>
									<input name="generate" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small"
										data-on="{% trans "Oui" %}" data-off="{% trans "Non" %}"/>
									<p id="warnGenerate" style="display:none" class="text-danger">{% trans "Note : la génération des images va prendre du temps" %}</p>
								</div>
								<div class="col-md-6" style="padding-top:15px">
                                    <label class="form-label">{% trans "Méthode" %} :</label>
                                    <div class="selectgroup w-100">
                                        <label class="selectgroup-item">
                                            <input type="radio" name="method" value="4" class="selectgroup-input" checked="">
                                            <span style="height:50px;display:flex;justify-content:center;align-items:center" class="selectgroup-button">ABCD</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="radio" name="method" value="5" class="selectgroup-input">
                                            <span style="height:50px;display:flex;justify-content:center;align-items:center" class="selectgroup-button">ABCD + 7PCL</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="radio" name="method" value="6" class="selectgroup-input">
                                            <span style="height:50px;display:flex;justify-content:center;align-items:center" class="selectgroup-button">ABCD + 7PCL<br/>+ Menzies</span>
                                        </label>
                                    </div>
									<p id="warnMethod" style="display:none" class="text-danger">{% trans "Note : les méthodes 7 points checklist et Menzies sont experimentales et ne donnent pas de bons résultats" %}</p>
                                </div>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success" type="submit">{% trans "Charger" %}</button>
							<a class="btn btn-danger text-light" href="{{request.META.HTTP_REFERER}}">{% trans "Annuler" %}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
	$('#uploadImg').on('submit', ()=>{
		$('#loader').show()
	})
	$(document).ready(()=>{
		// select the patient from url
		var url = new URL(window.location.href);
		var c = url.searchParams.get("patient") || null;
		var option = $('[value='+c+']')
		if (option.length>0 && c){
			option.attr('selected',true)
		}
		// handle warning messages
		$('[name=generate]').on('change',(e)=>{
			//$(e.target).closest('.toggle').attr('class').includes('danger')
			$('#warnGenerate').toggle()
		})
		$('[name=method]').on('change',(e)=>{
			if($(e.target).val()==4){
				$('#warnMethod').hide()
			}else{
				$('#warnMethod').show()
			}
		})
	})
	{% if success %}
	  //Notify
		$.notify({
			icon: 'flaticon-success',
			title: '{% trans "Image Enregistee avec succes" %}',
			message: '',
		},{
			type: 'success',
			placement: {
				from: "bottom",
				align: "right"
			},
			time: 1000,
		});
	{% endif %}
</script>
{% endblock javascripts %}
